.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  width: 100%;
  overflow-x: auto;
  max-height: 100%;
}

table {
  width: 100%;
  table-layout: auto;
  border: 5% solid;
  border-radius: 5%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

@media (max-width: 768px) {

  .mat-header-cell:nth-child(4),
  .mat-cell:nth-child(4) {
    display: none;
  }
}