/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  width: 100%;
  overflow-x: auto;
  /* Ensures horizontal scroll for overflow */
}

/* Table styles */
table {
  width: 100%;
  /* Full width to fill the container */
  table-layout: auto;
  /* Allows table to adjust based on content */
  border: 5% solid;
  border-radius: 5%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  background-color: white;
}

/* Responsive columns - hides certain columns on smaller screens */
@media (max-width: 768px) {

  .mat-header-cell:nth-child(4),
  .mat-cell:nth-child(4) {
    display: none;
    /* Hides the 4th column (e.g., phone) on small screens */
  }
}