<div *ngIf="!disabled">

  <div class="custom-dropzone" ngx-dropzone
    [accept]="'image/*,text/xml,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
    [disabled]="disabled" [multiple]="false" (change)="onSelect($event)">
    <ngx-dropzone-label>
      <h5 style="font-size: 20px;margin: 10px;">Drag and drop file or press to upload</h5>
      <h5>(Image/*,XML,XLXS)</h5>
      <svg viewBox="0 0 1792 1792" width="50" height="50" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1344 1472q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm256 0q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm128-224v320q0 40-28 68t-68 28H160q-40 0-68-28t-28-68v-320q0-40 28-68t68-28h427q21 56 70.5 92t110.5 36h256q61 0 110.5-36t70.5-92h427q40 0 68 28t28 68zm-325-648q-17 40-59 40h-256v448q0 26-19 45t-45 19H768q-26 0-45-19t-19-45V640H448q-42 0-59-40-17-39 14-69L851 83q18-19 45-19t45 19l448 448q31 30 14 69z"
          fill="#3597b8" class="fill-000000"></path>
      </svg>
    </ngx-dropzone-label>
    <!-- <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true"
      (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }} </ngx-dropzone-label>
    </ngx-dropzone-image-preview> -->

  </div>
  <!-- Import button -->
</div>

<div *ngIf="disabled" class="file-upload-container">

  <!-- Excel Data Table -->
  <table *ngIf="fileType === 'excel' && excelData.length > 0">
    <thead>
      <tr>
        <th *ngFor="let key of getKeys(excelData[0])">{{ key }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of excelData">
        <td *ngFor="let key of getKeys(row)" [attr.data-label]="key">{{ row[key] }}</td>
      </tr>
    </tbody>
  </table>

  <!-- XML Data Table -->
  <table *ngIf="fileType === 'xml' && xmlData.length > 0">
    <thead>
      <tr>
        <th *ngFor="let key of getKeys(xmlData[0])">{{ key }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of xmlData">
        <td *ngFor="let key of getKeys(row)" [attr.data-label]="key">{{ row[key] }}</td>
      </tr>
    </tbody>
  </table>

  <!-- QR Code Data Table -->
  <table *ngIf="fileType === 'qr' && qrCodeData">
    <thead>
      <tr>
        <th>QR Code Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <tr *ngFor="let field of getKeys(qrCodeData)">
        <td>{{ field }}</td>
        <td>{{ qrCodeData[field] }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="display: flex; justify-content: center; gap: 10px; margin: 10px;">
  <button *ngIf="disabled" mat-raised-button color="warn" (click)="import()">Import</button>
  <button *ngIf="disabled" mat-raised-button color="warn" (click)="remove()">Delete</button>
</div>