<h2 mat-dialog-title>Add Section</h2>

<mat-dialog-content [formGroup]="form">

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td><mat-form-field class="example-full-width">
          <mat-label>Content En</mat-label>
          <input matInput placeholder="contentEn" formControlName="contentEn">
        </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
          <mat-label>Content Ar</mat-label>
          <input matInput placeholder="contentAr" formControlName="contentAr">
        </mat-form-field></td>
    </tr>
  </table>



</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
