<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Blogs</mat-card-title>
    <a (click)="openDialog()" mat-flat-button color="primary">
      Add New
    </a>

  </mat-card-content>


</mat-card>

<div class="example-container mat-elevation-z8">
  @if (isLoadingResults || isRateLimitReached) {
  <div class="example-loading-shade">
    @if (isLoadingResults) {
    <mat-spinner></mat-spinner>
    }
    @if (isRateLimitReached) {
    <div class="example-rate-limit-reached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
    }
  </div>
  }
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <div class="example-table-container">

    <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="dateOfBirth" matSortDisableClear
      matSortDirection="desc">
      <!-- Number Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="dateOfBirth">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          dateOfBirth
        </th>
        <td mat-cell *matCellDef="let row">{{row.dateOfBirth | date}}</td>
      </ng-container>
      <!-- State Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>gender</th>
        <td mat-cell *matCellDef="let row">{{row.gender}}</td>
      </ng-container>
      <!-- State Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>phone</th>
        <td mat-cell *matCellDef="let row">{{row.phone}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="getRecord(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
    aria-label="Select page of periodic elements" aria-label="Select page of GitHub search results"></mat-paginator>
</div>